APP_ENV=local
DB_HOST="localhost"
DB_USER=postgres
DB_PASS=postgres
DB_PORT=5430
DB_DATABASE=natserract_ai
SQLALCHEMY_DATABASE_URI="postgresql+asyncpg://postgres:postgres@localhost:5430/natserract_ai"
ASYNCPG_CONNECTION_URI="postgres://postgres:postgres@localhost:5430/natserract_ai"
OPENAI_API_KEY=
OPENAI_MODEL="gpt-4"
EMBEDDING_MODEL="text-embedding-ada-002"
VECTOR_STORE="pgvector"